body{
    display: flex;
    background-image: linear-gradient(white,white, white, white, white, white, blue);
    background-repeat: repeat;
    height: 50px;
}

.welcome{
    background-color: gainsboro;
    margin-top: 50px;
}

.getAlong{
    height: 300px;
    margin-left: 300px;
}
.getAlongPic{
    margin-top: -220px;
}

.playBtn, .RPSassociation{
    text-align: center;
}

.logo
{
    width: 150px;
    height: auto;
}

.singlePlayer{
    margin-top: 20px;
    background-color: gainsboro;
    display: block;
    height: 500px;
}

.p1keyboard{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.instructions{
    font-size: 18pt;
    text-align: center;
    display: block;
}

.game{
    background-color: darkgrey;
}

.winningPic{
    text-align: center;
}

.paper{
    width: 930px;
    height: auto;
}

.rock, .scissors{
    height: 400px;
    width: auto;
}

.hide{
    display: none;
}

*{
    border: 1pt solid black;
}


.lock{
    display: none;
}
textarea{
    cols: 50;
}
